.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}


.background {
    background-size: cover;
    opacity: 5%;
    height: 80vh;
    position: absolute;
    left: -154px;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #ffffff;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 75%;
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    color:#ffffff;
}

button {
    width: 18%;
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 10px;
    font-size: 18px;
    padding: 10px;
    background: #2D333B;
    color: #ffffff;
}

.perfil {
    display: flex;
    margin: 40px 0;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #E5E5E5;
    margin-right: 32px;
}

.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
}

.repositorio {
    font-size: 32px;
    color: #ffffff;
    margin: 12px 0;
    text-align: center;
}